<!DOCTYPE html>
<html>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <nav>
    <div class="nav-wrapper #ad1457 pink darken-3">
      <a href="#" class="brand-logo">Logo</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
      <% if user_signed_in? %>
        <li><%= link_to "Your Places",  places_path %></li>
        <li><%= link_to "Logout",  destroy_user_session_path, method: :delete %></li>
      <% else %>
        <li><%= link_to 'Login', new_user_session_path %></li>
        <li><%= link_to 'Sign Up',new_user_registration_path%></li>
      </ul>
      <% end %>
    </div>
  </nav>

  <head>
    <title>PlacesToVisit</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<body>
  <div class="container">
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>"><%= value %></div>
    <% end %>
    <%= yield %>
  </div>
</body>
</html>


